* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.header-container {
    height: 100vh;
    width: 100vw;
    color: white;
}

.navbar-container {
    display: flex;
    position: relative;
    bottom: 90%;
    width: 100%;
    justify-content: space-evenly;
}

.logo-text1 {
    font-size: 2em;
}

.logo-text2 {
    font-size: 0.8em;
}

.navLink {
    display: flex;
    font-size: 1.2em;
}

.nav-item {
    margin-right: 35px;
    margin-top: 8px;
}

.sometext {
    position: relative;
    bottom: 65%;
    left: 25%;
    max-width: 25%;
    font-size: 80px;
}

.navlink-anchor {
    color: white;
    text-decoration: none;
}

.navlink-anchor:hover {
    color: white;
    text-decoration: underline;
}

.logo-navlink:hover{
    text-decoration: none;
}

.sections-container {
    display: flex;
    width: 100vw;
    flex-direction: column;
}

.intro {
    padding: 0 15%;
    padding-top: 7%;
    width: 100%;
    font-size: 2.5em;
    text-align: center;
    color: #111111;
}

.white-section {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 5% 0;
}

.white-section-text {
    width: 50%;
    color: black;
    padding: 10%;
}


.white-section-text-heading {
    font-size: 2em;
    width: 50%;
    margin-bottom: 10%;
}

.white-section-text-para {
    color: #777777;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: left;
}


.white-section-img-container {
    width: 50%;
    margin: 5%;
    margin-top: 0;
}

.white-section-img{
    width: 100%;
    height: 100%;
}

.white-section-img-container {
    width: 50%;
    margin: 5%;
    margin-top: 0;
}

.white-section-img{
    width: 100%;
    height: 100%;
}



.grey-sections {
    background-color: #f3f3f3;
    padding-top: 15vh;
}

.section-figure {
    padding: 0;
    margin: 0;
    width: 65%;
    position: relative;
    z-index: 2;
}

.section, .mid-section {
    display: flex;
    height: 140vh;
    position: relative;
}

.section-img {
    position: relative;
    z-index: 2;
    margin-bottom: 8%;
    width: 100%;
    height: 80%;
}

.img-bg {
    height: 500px;
    width: 95%;
    background-color: lightgrey;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: absolute;
    top: 37%;
    left: 11%;
    z-index: 1;
}

.section-img-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 10%;
    top: 18%;
    width: 40%;
    height: 50%;
    z-index: 3;
    padding: 5%;
    background-color: white;
}

.section-img-heading {
    font-size: 2em;
}

.section-img-para {
    color: #777777;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: left;
}

.section-img-btn {
    height: 15%;
    width: 35%;
    background-color: transparent;
    border: 1px solid gray;
}

.section-img-btn:hover {
    border: 2px solid black;
}


.mid-section {
    display: flex;
    justify-content: right;
}

.mid-section-figure {
    position: relative;
    padding: 0;
    margin: 0;
    width: 65%;
    z-index: 2;
}

.mid-section-img-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 10%;
    top: 18%;
    width: 40%;
    height: 50%;
    z-index: 3;
    padding: 5%;
    background-color: white;
}

.mid-img-bg {
    height: 500px;
    width: 95%;
    background-color: lightgrey;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: absolute;
    top: 37%;
    right: 12%;
    z-index: 1;
}






